@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p role="status">Componente di sistema blazor</p>
<InputText @bind-Value="testo"></InputText>
<p role="status">Binding su controllo</p>
<input type="text" @bind-value="@testo" />
<p role="status">Proprietà di base</p>
<input type="text" value="@testo" />
<p role="status">Current text: @testo</p>


<p role="status">Current count: @currentCount</p>

<p role="status">Current theme: @Conf.Theme</p>
<InputText @bind-Value="Conf.Theme"></InputText>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@for (int i = 1; i <= currentCount; i++)
{
    <p>This is paragraph number @i</p>
}



@code {
    [CascadingParameter]
    public AppConfiguration? Conf { get; set; }

    private int currentCount = 0;
    private string testo = "prova1";
    private void IncrementCount()
    {
        currentCount++;
    }
}
